 /* small screen */
        @media(max-width:990px){
            *{
                margin: 0;
                padding: 0;
                box-sizing: border-box;
            }
            .container{
                /* width: 990px; */
                margin: 50px auto;
                /* display: flex;
                gap: 60px; */
            }
            .feed{
                /* width: 500px ; */
                border: 1px solid rgb(207, 206, 206);
                border-radius: 20px;
                padding: 10px;
                margin-bottom: 30px;
            }
            .para{
                margin-top: 20px;
            }
            .feed-img{
                width: 100%;
                border-radius: 20px;
            }
            .user{
                height: 40px;
                border-radius: 50%;
            }
            .profile{
                display: flex;
                align-items: center;
                gap: 10px;
                margin-bottom: 20px;
            }
            .user-name{
                color: grey;
            }
            
            .story{
                /* width: 990px; */
                /* width: 100vw; */
                /* margin: 30px auto; */
                display: flex;
                gap: 25px;
                overflow-x: scroll;
            }
            .story p{
                text-align: center;
            }
            .story img{
                height: 70px;
                width: 70px;
                border-radius: 50%;
            }
            .nav img{
                height: 40px;
            }
            .nav button{
                padding: 0 30px;
                background-color: #fff;
                border-radius: 10px;
                cursor: pointer;
            }
            .nav{
               /* width: 990px;  */
               display: flex;
               justify-content: space-between; 
               margin: 30px auto;
            }
            .icon{
                display: flex;
                justify-content: space-between;
                margin-top: 10px;
            }
            .google{
                display: flex;
                gap: 10px;
            }
            .google div{
                width: 30%;
            }
            .google img{
                width:100%;
                
            }
            .sidebar p{
                margin: 20px 0;
            }
            
        }
        /* Big screen */
        @media(min-width:990px){
            *{
                margin: 0;
                padding: 0;
                box-sizing: border-box;
            }
            .container{
                width: 990px;
                margin: auto;
                display: flex;
                gap: 60px;
            }
            .feed{
                width: 500px ;
                border: 1px solid rgb(207, 206, 206);
                border-radius: 20px;
                padding: 10px;
                margin-bottom: 30px;
            }
            .para{
                margin-top: 20px;
            }
            .feed-img{
                width: 100%;
                border-radius: 20px;
            }
            .user{
                height: 40px;
                border-radius: 50%;
            }
            .profile{
                display: flex;
                align-items: center;
                gap: 10px;
                margin-bottom: 20px;
            }
            .user-name{
                color: grey;
            }
            
            .story{
                /* border: 2px solid pink; */
                width: 990px;
                margin: 30px auto;
                display: flex;
                gap: 25px;
            }
            .story p{
                text-align: center;
            }
            .story img{
                height: 70px;
                width: 70px;
                border-radius: 50%;
            }
            .nav img{
                height: 40px;
            }
            .nav button{
                padding: 0 30px;
                background-color: #fff;
                border-radius: 10px;
                cursor: pointer;
            }
            .nav{
               width: 990px; 
               display: flex;
               justify-content: space-between; 
               margin: 30px auto;
            }
            .icon{
                display: flex;
                justify-content: space-between;
                margin-top: 10px;
            }
            .google{
                display: flex;
                gap: 10px;
            }
            .google div{
                width: 30%;
            }
            .google img{
                width:100%;
                
            }
            .sidebar p{
                margin: 20px 0;
            }
            
        }